<h1 class="header"><%= @season.name%> Teams</h1>

<div><%= link_to 'Seasons', seasons_path %></div><br/>

<div id="teams">
<% if @teams.count == 0 %>
  <div id="no_items_message">Add a team using the form below.</div>
<% else %>
  <%= render(:partial => 'teams', :locals => {:teams => @teams}) %>
<% end %>
</div>

<% if @season.matches.count == 0 %>
<div id="create_form" style="display: none;">
  <%= render 'form' %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#create_form").hide();
    $("h1.header").html($("h1.header").html()+" <a href='#' id='add_item_link'>add</a>");
    $("#create_form form").html($("#create_form form").html()+" <button id='cancel'>Cancel</button>");

    $("#add_item_link").click(function() {
      $("#teams").hide();
      $("#create_form").show();
      $(this).hide();
    });
    $("#cancel").click(function(event) {
      event.preventDefault();
      $("#teams").show();
      $("#create_form").hide();
      $("#add_item_link").show();
    });
    $("#no_items_message").html("Click <b>add</b> above to add teams.");
  });
</script>
<% end %>
