<% if !user_signed_in? %>
  <div>You must be signed in to Create seasons</div>
<% else %>
<h1 class="header">Seasons</h1>

<div id="seasons">
<% if @seasons.count == 0 %>
  <div id="no_items_message">Add a season using the form below.</div>
<% else %>
  <%= render(:partial => 'seasons', :locals => {:seasons => @seasons}) %>
<% end %>
</div>

<div id="create_form" style="display: none;">
  <%= render 'form' %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#create_form").hide();
    $("h1.header").html($("h1.header").html()+" <a href='#' id='add_item_link'>add</a>");
    $("#commit").after(" <button id='cancel'>Cancel</button>");

    $("#add_item_link").click(function() {
      $("#seasons").hide();
      $("#create_form").show();
      $(this).hide();
    });
    $("#cancel").click(function(event) {
      event.preventDefault();
      $("#seasons").show();
      $("#create_form").hide();
      $("#add_item_link").show();
    });
    $("#no_items_message").html("Click <b>add</b> above to add seasons.");
  });
</script>
<% end %>
