<td class="match_outcome"><%=match.get_text_for_big_board team.number%></td>
<td class="team_points_so_far"><%=team.get_total_points_through_week match.week_number%></td>
<td class="team_scratch_plus_handicap"><%=team.get_team_scratch_plus_handicap match%></td>