/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

html, body {
  height: 100%;
}

body {
  font: 0.9em arial,sans-serif;
  min-width: 1200px;
  overflow: scroll;
}

header {
  padding: 20px;
  text-align: center;
  border: 1px dashed blue;
  min-width: 80%;
  min-height: 10%;
}

nav {
  padding: 5px;
  border: 1px dotted pink;
  float: left;
  width: 15%;
  min-width: 10%;
  min-height: 70%;
}

section {
  padding: 5px;
  border: 1px dotted green;
  float: left;
  clear: right;
  width: 83%;
  min-height: 70%;
}

footer {
  padding: 20px;
  text-align: center;
  border: 1px dashed red;
  clear: both;
}

select {
  width: auto !important;
}

#no_items_message {
  padding: 2px;
}

#add_item_link {
  font-size: 0.5em;
}

#create_form {
  border: 1px solid black;
  margin: 0 0 10px 0;
  padding: 2px;
}

#flash_notice {
  background: green;
  color: white;
  border: 1px solid black;
  text-align: center;
  padding: 5px;
  clear: both;
}

#user_nav {
  float: right;
}

.actions {
  margin: 0 20px 0 5px;
}

.blind {
  border: 1px solid;
  border-radius: 15px;
  text-align: center;
}
.row {
  margin-top: 40px;
}
