// Place all the styles related to the bigboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#bigboards {
  margin: 0 0 10px 0;

  table {
    width: 100%;
  }
}

#bigboard {
  border-collapse: collapse;
  overflow: scroll;

  tr {
    line-height: 17px;
  }
  td {
    padding: 3px;
    border: 1px solid #dddddd;
  }
  .team {
    background-color: #efefef;
    font-weight: bold;
  }
  .name {
    white-space: nowrap;
  }
  .first_team, .vs, .second_team,
  .handicap_birds, .scratch, .scratch_plus_handicap,
  .match_outcome, .team_points_so_far, .team_scratch_plus_handicap {
    width: 25px;
    text-align: right;
  }
}
